<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"

        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/psychology"
        android:label="Help Yourself"
        android:roundIcon="@mipmap/psychology"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alap"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:targetApi="tiramisu">



        <activity
            android:name=".NewLoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DestinationActivity"/>

        <receiver android:name=".AlarmReceiver"/>

        <activity
            android:name=".DietDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".HealthMaintainMain"
            android:exported="false" />
        <activity
            android:name=".NewAlarmMain"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ScreeningTestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CheckyourselfActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImageClassify"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".signup"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".forgotpassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TestMri"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".notesactivity"
            android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        </activity>

        <activity
            android:name=".notedetails"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".createnoteactivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>